.AppointmentWrapper {
  .navWrapper {
    background: black;  /* fallback for old browsers */

    .nav{
      display: flex;
      align-items: center;
      justify-content: space-between;

      .button {
        cursor: pointer;
        img {
          margin: 20px;
          width: 60px;
        }
      }

      h2 {
        color: white;
      }
    }
  }
  
  
  *{
    background-color: black;
  }
  
  button {
    margin: 10px;
    width: stretch;
    width: -webkit-fill-available;
    padding: 20px;

    &.booked {
      background-color: red;
      border-color: red;
    }
  }
}
